<div class="wrapper" >
<div class="container book-list">
    <h1>Listar Libros</h1>

    <div class="search-table">
      <form class="form-horizontal book-list-form" action="" method="post">
        <div class="form-inline">
          <div class="row control-group custom-control-inline">
            <div class='col-md-6'>
              <label class="col-sm-3 col-form-label" for="titulo">T&iacute;tulo &nbsp;&nbsp;</label>
              <div class="controls">
                  <input type="text" class="form-control" name="titulo" [(ngModel)]="tituloText" #titulo="ngModel" (input)="filterItem(titulo.value)" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
            <div class='col-md-6'>
                  <label class="col-sm-3 col-form-label" for="nro_autores">Autores &nbsp;</label>
                  <div class="controls">
                      <input type="text" class="form-control" #nro_autores name="nro_autores" />
                  </div>
            </div>
          </div>
          <div class="row control-group custom-control-inline form-row">
                <div class='col-md-6'>
                  <label class="col-sm-3 col-form-label" for="fecha_edicion">Edici&oacute;n  </label>
                  <div class="controls">
                      <span class="datepicker">
                          <ng-datepicker #editiondate [(ngModel)]="date" [options]="options"></ng-datepicker>
                      </span>
                      <input type="hidden" name="fecha_edicion" value="{{date}}" >

                  </div>
                </div>
                <div class="col-md-6">

                </div>

            </div>
        </div>
      </form>
    </div>


<div class="table-responsive book-list">
  <div class="btn-create">
      <a [routerLink]="['/book/create']" class="btn btn-primary" routerLinkActive="active">
        <i class="fa fa-plus"></i>
        Crear libro
      </a>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
          <th>T&iacute;tulo</th>
          <th>Edici&oacute;n</th>
          <th>Autores</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filteredItems">
          <td>{{item.titulo}}</td>
          <td>{{item.fecha_edicion}}</td>
          <td>2</td>
        </tr>
    </tbody>
  </table>

</div>

</div>

</div>
