<div class="container">
    <h1>Listar Libros</h1>
    <p>
        <a routerLink="book/create" class="nav-link" routerLinkActive="active">
          Create book
        </a>
    </p>

    <form class="form-horizontal" action="" method="post">
      <div class="form-inline">
        <div class="row control-group custom-control-inline">
          <div class='col-md-4'>
            <label class="col-sm-3 col-form-label" for="titulo">T&iacute;tulo &nbsp;&nbsp;</label>
            <div class="controls">
                <input type="text" id="titulo" name="titulo" />
            </div>
          </div>
          <div class='col-md-4'>

                <label class="col-sm-3 col-form-label" for="nro_autores">Autores &nbsp;</label>
                <div class="controls">
                    <input type="text" id="nro_autores" name="nro_autores" />
                </div>


          </div>
        </div>
        <div class="row control-group custom-control-inline">
              <div class='col-md-4'>
                <label class="col-sm-3 col-form-label" for="fecha_edicion">Edici&oacute;n  </label>
                <div class="controls">
                    <span class="datepicker">
                        <input type="text" id="datepicker">
                        <i class="fa fa-calendar" id="calendar-icon" aria-hidden="true"></i>
                    </span>
                    <input type="hidden" id="dbdatepicker" name="fecha_edicion">
                </div>
              </div>
              <div class='col-md-4'>
                <div class="controls pull-right">
                  <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
              </div>

          </div>
      </div>
    </form>

</div>

<div class="table-responsive book-list">
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
          <th>T&iacute;tulo</th>
          <th>Edici&oacute;n</th>
          <th>Autores</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Anna Karenina</td>
          <td>01/02/1958</td>
          <td>Leon Tolstoi</td>
        </tr>
    </tbody>
  </table>
</div>
